*{
    margin: 0px;
    padding: 0px;
}
.hero-img{
    background-image: url(./img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.navbar .logo{
    font-size: 25px;
    color: rgb(14, 19, 19);
    text-decoration: none;
    padding-left: 15px;
}
.navbar ul{
    display: flex;
   list-style-type: none;
}

.navbar ul li a{
    list-style: none;
    text-decoration: none;
    padding-right:15px ;
    color: rgb(11, 14, 14);
}
.simpleinfo{
    margin-top: 40px;
    padding-top: 40px;
    padding: 40px 40px ;
}
.simpleinfo .pad{
    padding-top: 20px;
}
.simpleinfo .pad2{
    margin-top: 30px;
}
.simpleinfo button{
    margin-top: 30px;
    color: rgb(228, 106, 131);
    background-color: aqua;
    padding: 4px;
    border-radius: 12px;
    font-size: 14px;
}